In [11]:
import pandas as pd
import json
from datasets import load_dataset

In [2]:
data = load_dataset("reddit_tifu", "long")

Downloading and preparing dataset reddit_tifu/long to /Users/karthiksubbiah/.cache/huggingface/datasets/reddit_tifu/long/1.1.0/1c73fb08807b54ec26b025829b2a3d90c6f7466dac20801c825571af9514c049...

Downloading data:   0%|          | 0.00/671M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/42139 [00:00<?, ? examples/s]

Dataset reddit_tifu downloaded and prepared to /Users/karthiksubbiah/.cache/huggingface/datasets/reddit_tifu/long/1.1.0/1c73fb08807b54ec26b025829b2a3d90c6f7466dac20801c825571af9514c049. Subsequent calls will reuse this data.

  0%|          | 0/1 [00:00<?, ?it/s]

In [9]:
df = pd.DataFrame(data)

In [20]:
df1 = pd.json_normalize(df.train)

In [22]:
df1

         ups  ...                                              title
0      115.0  ...                                gender-stereotyping
1       16.0  ...                    telling my dad that i love him.
2       55.0  ...                                  i was deveeted...
3       90.0  ...                        wanting a pepperminty bath.
4       81.0  ...                       having a spliff in the bath.
...      ...  ...                                                ...
42134  105.0  ...                    forgetting my quarter for lunch
42135   96.0  ...        trying to shave my pubes for the first time
42136  726.0  ...       breaking a $900 window with a shopping cart.
42137   26.0  ...  slicing open my finger on first valentines wit...
42138   15.0  ...                         not listening to my mother

[42139 rows x 7 columns]

In [26]:
df2 = df1[['documents', 'tldr']]

In [27]:
df2

                                               documents                                               tldr
0      this actually happened a couple of years ago. ...  confuse a 5th grade girl for a boy in front of...
1      it was last october, but i'm feeling the fall-...  i found my estranged dad, thought i loved him ...
2      so i had the brilliant idea to use veet hair r...  had my balls burned by sauron and was left dev...
3      today i was going to have a bath after a long ...         peppermint + bath = burning cold ladybits.
4      i haven't had a bath in practically years so, ...  got too high and too hot in the bath, almost c...
...                                                  ...                                                ...
42134  this happened back in middle school.\n\nmy fam...  forgot my quarter for lunch at school for a we...
42135  my girlfriend told me she has no hair beneath ...  girlfriend prefers clean shaven groin. i try t...
42136  today at work i accidentally crashed a row of ...  today i broke a window that costs more then i ...
42137  so as u can tell from the title it didn't happ...  i invited over new girlfriend for dinner to sp...
42138  this did actually happen today. it started aft...  in a rush i mixed my colours in the wash and e...

[42139 rows x 2 columns]

In [30]:
df_100 = df2.head(100)

In [31]:
df_1K = df2.head(1000)

In [32]:
df_100.to_csv("reddit_100.csv")

In [33]:
df_1K.to_csv("reddit_1K.csv")

In [34]:
df2.to_csv("reddit_data.csv")